Source: sigma-driver
Section: libs
Priority: optional
Maintainer: Valentin Nyzam <valentin.nyzam@gmail.com>
Build-Depends: debhelper-compat (= 13), cmake, pkg-config, libusb-1.0-0-dev
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: sigma-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Sigma camera PTP driver and example app
 PTP communication library for Sigma cameras and a small example app.
